@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #5ab2ff;
  --text-color: #333333;
  --background-color: #f0f0f0;
  --white: #ffffff;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Login Page */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-group input {
  padding: 10px 40px 10px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #4d99e0;
}

/* Admin Page */
.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.admin-form {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 30px;
  max-width: 600px;
  width: 100%;
}

.admin-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.admin-form .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.admin-form .input-group i {
    margin-right: 10px;
    color: var(--primary-color);
}

.admin-form .input-group .textarea-wrapper {
    flex: 1;
    justify-items: start;

}

.admin-form .input-group textarea {
  padding: 10px 40px 10px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
  height: 150px;
}
