@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #5ab2ff;
  --secondary-color: #7f7f7f;
  --text-color: #333333;
  --background-color: #f0f0f0;
  --white: #ffffff;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mr-2 {
  margin-right: 20px;
}

/* Buttons */

.back-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-back {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.button-back:hover {
  background-color: #4d99e0;
}

.button-back i {
  margin-right: 8px;
}

button[type="submit"] {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #4d99e0;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-button {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #4d99e0;
}

.button-secondary {
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-secondary:hover {
  background-color: #4d99e0;
}

.button-alert {
  padding: 10px;
  background-color: rgb(255, 71, 71);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-alert:hover {
  background-color: #ff5252;
}

/* Inputs */
.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-group input {
  padding: 10px 40px 10px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
